Options +FollowSymLinks -Multiviews -Indexes
RewriteEngine On

RewriteRule ^restconf/modules$ src/checkUser.php [L]

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Content-Type-Options nosniff
</IfModule>

Header always append X-Frame-Options SAMEORIGIN
